<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <title>Restaurant.es: Carta</title>
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="fragments/nav.html :: nav"></header>

    <main class="flex-shrink-0">



        <div class="container">
            <h1 class="mt-5">Categorias</h1>
           
            <!-- pruebas (funciona): <table >
                <tr th:each="prod: ${categoria.lista}">
                <td th:text="${prod}">Onions</td>
                </tr>
            </table> -->
        </div>
        
        <div class="container" th:if="${session.u.hasAnyRole('ADMIN')}" style="text-align: right;">
            <form th:action = "@{/}" method="get" id="anadirCat">
                <button type="submit" class="btn btn-primary" style="">Nueva categoría</button> <!--revisar esta linea-->
            </form>
        </div>

    <div class="container"> <!-- Si pones div container haces q las columnas dentro de las rows se centren automaticamente -->
        <div class="row h-100" style="margin-top: 50px;" > <!-- La primera fila tiene margen superior para separar del titulo -->
           <!-- <div class="col-md-3">
                <img th:src="@{/img/s-img-6.jpg}" src="/img/s-img-6.jpg" alt="logo IW" width="96" height="96">
                <br>-->
                <!-- Estos botones posiblemente tendran que ser forms, pero habrá q pensar cómo pasamos la info para que solo -->
                <!-- Sea una misma pag la q vuelque el contenido de la categoría elegida, y no haya 1 pag (para el action) por cada categoria -->
                <!-- <form th:action = "@{/verPlato}">
                <button type="submit" class="btn btn-primary" style="margin-top: 10px;">Entrantes</button>
            </form>    
            </div>-->
            <div class="col-md-3 text-center categoryItemDiv "  th:each="prod: ${categoria.lista}">
                <!-- estiqueta <a> Podria usarse para que las imagenes fueran links, pero habria que ver como saber que categoria se ha pinchado
                    <a th:href="@{/cartaPlatosCategoria}"> -->       
                        <img th:src="@{/img/comidaDefault.jpg}" src="/img/comidaDefault.jpg" class="img-thumbnail" ><!--alt="logo IW" width="96" height="96" -->
                        <!--<input type ="image" name="catElegida" value="cat" th:src="@{/img/comidaDefault.jpg}" src="/img/comidaDefault.jpg" class="img-thumbnail" >--> <!-- alt="logo IW" width="96" height="96"-->
                        <!-- </a> -->
                     <br>
                
                <div class="row">
                    <!-- Si el usuario es un admin, el boton se alinea a la derecha, para que al aparecer el siguiente boton de Eliminar,
                    aparezcan los 2 mas o menos centrados, en cambio si es un User, como solo hay 1 boton, queremos que salga centrado -->
                    <div class="col-md-7" th:if="${session.u.hasAnyRole('ADMIN')}" style="text-align: right;">
                        <form th:action = "@{/cartaPlatosCategoria}" method="get" style="display: inline;">
                            <button type="submit" name="catElegida" th:text="${prod}" value="burguers" class="btn btn-primary" style="margin-top: 2%; margin-bottom: 10%; margin-right: 0%;">Categoria</button> <!--revisar esta linea--> 
                        </form>
                    </div>
                    <div class="col" th:unless="${session.u.hasAnyRole('ADMIN')}" style="text-align: center;">
                        <form th:action = "@{/cartaPlatosCategoria}" method="get" style="display: inline;">
                            <button type="submit" name="catElegida" th:text="${prod}" value="burguers" class="btn btn-primary" style="margin-top: 2%px; margin-bottom: 10%; ">Categoria</button> <!--revisar esta linea--> 
                        </form>
                    </div>
                    <div class="col-md-5" th:if="${session.u.hasAnyRole('ADMIN')}" style="text-align: left;">
                        <form th:action = "@{/}" method="get" id="eliminarCat">
                            <button type="submit" class="btn btn-outline-danger btn-sm" style="margin-top: 7%;">❌</button> <!--revisar esta linea-->
                        </form>
                    </div>  
                </div>
                
            </div>
            <!-- <div class="col-md-3">
                <img th:src="@{/img/s-img-1.jpg}" src="/img/s-img-1.jpg" alt="logo IW" width="96" height="96">
                <br>
                <button type="button" class="btn btn-primary" style="margin-top: 10px;">Segundos</button>
            </div>
            <div class="col-md-3">
                <img th:src="@{/img/s-img-3.jpg}" src="/img/s-img-3.jpg" alt="logo IW" width="96" height="96">
                <br>
                <button type="button" class="btn btn-primary" style="margin-top: 10px;">Postres</button>
            </div>


            <div class="col-md-3">
                <img th:src="@{/img/s-img-3.jpg}" src="/img/s-img-3.jpg" alt="logo IW" width="96" height="96">
                <br>
                <button type="button" class="btn btn-primary" style="margin-top: 10px;">Postres2</button>
            </div>

            <div class="col-md-3">
                <img th:src="@{/img/s-img-3.jpg}" src="/img/s-img-3.jpg" alt="logo IW" width="96" height="96">
                <br>
                <button type="button" class="btn btn-primary" style="margin-top: 10px;">Postres3</button>
            </div> -->
        </div>

<!-- antes los items estaban puesto en dos rows, y ahora solo hay una, con muchas col -->

        <!-- <div class="row h-100">
            <div class="col-md-3">
                <img th:src="@{/img/s-img-4.jpg}" src="/img/s-img-4.jpg" alt="logo IW" width="96" height="96">
                <br>
                <button type="button" class="btn btn-primary" style="margin-top: 10px;">Bebidas</button>
            </div>
            <div class="col-md-3">
                <img th:src="@{/img/s-img-4.jpg}" src="/img/s-img-4.jpg" alt="logo IW" width="96" height="96">
                <br>
                <button type="button" class="btn btn-primary" style="margin-top: 10px;">Batidos</button>
            </div>
            <div class="col-md-3">
                <img th:src="@{/img/s-img-5.jpg}" src="/img/s-img-5.jpg" alt="logo IW" width="96" height="96">
                <br>
                <button type="button" class="btn btn-primary" style="margin-top: 10px;">De temporada</button>
            </div>
            <div class="col-md-3">
                <img th:src="@{/img/logo.png}" src="/img/logo.png" alt="logo IW" width="96" height="96">
                <br>
                <button type="button" class="btn btn-primary" style="margin-top: 10px;">Nacional</button>
            </div>
        </div> -->
    </div>
    

    

    

    

    <th:block th:replace="fragments/footer.html :: footer" />
</body>

</html>