<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <title>Restaurant.es</title>
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="fragments/nav.html :: nav"></header>

    <main class="flex-shrink-0">
        <div class="container">
            <h1 class="mt-5">¿Tienes hambre?</h1>
        </div>
    </main>

<!-- Erosito empieza el home  -->

<section class="home" id="home">

    <div class="content">
        <h3>RESTAURANT.ES</h3>
        <p>Todo lo que necesitas para disfrutar la gastronomía</p>
        <a href="carta" class="btn">Empezar</a>
    </div>

    <div class="image">
        <img src="img/index-img.png" alt="">
    </div>

</section>

<!-- Erosito termina el home -->

    <!-- Pie de pagina -->
    <th:block th:replace="fragments/footer.html :: footer" />

<!-- scroll to top button  -->
<a href="#home" class="fas fa-angle-up" id="scroll-top"></a>

    <!-- Eros carga entre paginas -->
<div class="loader-container">
    <img src="img/carga.gif" alt="">
    </div>
    <!-- Fin carga Eros -->
    
    
    <!-- custom js Eros  -->
    <script src="js/custom.js"></script>
    
</body>
</html>