<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/head :: header" />
    <title>Restaurant.es: Pedidos</title>
    <link rel="stylesheet" href="css/pedidosemp.css" />
</head>
<body class="d-flex flex-column h-100">
    <header th:replace="fragments/nav.html :: nav"></header>
    <main class="flex-shrink-0">
        <div class="container">
            <h3 class="mt-5">Pagina pedidos desde punto de vista empleados/propietario</h3>
        </div>
        <h1>Pedidos</h1>
        <form id="form">
            <!-- Input -->
            <input type="text" class="input" id="input" placeholder="Anota el pedido" autocomplete="off">

            <!-- Tabla de pedidos -->
            <!-- ul = tabla il = fila -->
            <ul class="pedidos" id="pedidos">
                <li>Test</li>
            </ul>
        </form>
        
        <small>Click izquierdo para marcar pedido como finalizado. <br> Click derecho para eliminarlo de la lista</small>
    </main>

    <th:block th:replace="fragments/footer.html :: footer" />
    <script src="js/pedidosEmp.js"></script>

</body>
</html>

