<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <title>IW: Perfil</title>
</head>


<style type="text/css">
    h1 {color:rgb(122, 14, 14)}

 .comida {
    border-radius: 100px;
    background:url(../img/home-bg.jpg) no-repeat;
    max-width: 400px;
    max-height: 400px;
    float:left;
    }

.caja{
    border: 1px solid #ddd;
    border-radius: 10px;  
    max-width: 100%;
    margin: 40px;
    padding: 20px;
    background-color:rgba(169, 128, 128, 0.24);
    overflow: auto;
}

.fondo{
    background:url(../img/home-bg.jpg) no-repeat;
}

</style>

<body class="fondo" >
    <header th:replace="fragments/nav.html :: nav"></header>
    <main class="flex-shrink-0"  >
        <div class="degradado">
            <div class="caja" >
                        <h1 class="mt-5">Insertar aquí nombre del plato</h1>
                        <img src="img/comidaDefault.jpg"  class="comida" >
                        <aside>Descripción de la comida</aside>
            </div> 
        <div class="reset"></div>
    </main>

    <th:block th:replace="fragments/footer.html :: footer" />
    <script>
        // envio de mensajes con AJAX
        let b = document.getElementById("sendmsg");
        b.onclick = (e) => {
            e.preventDefault();
            go(b.parentNode.action, 'POST', {
                    message: document.getElementById("message").value
                })
                .then(d => console.log("happy", d))
                .catch(e => console.log("sad", e))
        }
    </script>
</body>

</html>