<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <title>IW: Perfil</title>
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="fragments/nav.html :: nav"></header>
    <main class="flex-shrink-0">
        <div class="container">
            <h1 class="mt-5">Insertar aquí nombre del plato</h1>
        
            <div class="py-5 position-absolute bottom-0 row ">
   
                        <img src="img/comidaDefault.jpg" height="400">
                        <aside>Descripción de la comida</aside>
                        <div class="reset"></div>

            </div> 
        </div>
    </main>

    <th:block th:replace="fragments/footer.html :: footer" />
    <script>
        // envio de mensajes con AJAX
        let b = document.getElementById("sendmsg");
        b.onclick = (e) => {
            e.preventDefault();
            go(b.parentNode.action, 'POST', {
                    message: document.getElementById("message").value
                })
                .then(d => console.log("happy", d))
                .catch(e => console.log("sad", e))
        }
    </script>
</body>

</html>