/* loader Eros */
.loader-container{
  position: fixed;
  top:0; left:0;
  z-index: 10000;
  background: #fff;
  display:flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.loader-container.fade-out{
top:-120%;
}
/*Fin loader */
/* Eros prueba css para index */

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,600&display=swap');
:root{
  /* Variables de los colores */
  --main:#783848;
  --second: #36384C;
  --background: #E9DCCD;
}
*{
    font-family: 'Josefin Sans', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    transition:all .2s linear;
  }


section{
  padding:2rem 6%;
}
  .heading{
    text-align: center;
    font-size: 3.5rem;
    padding:1rem;
    color: var(--second);
  }
  
  .heading span{
    color:var(--main);
  }
  
  .button{
    display: inline-block;
    padding:.8rem 3rem;
    border:.2rem solid var(--second);
    color:#F2E4D8;
    background-color: #59363F;
    cursor: pointer;
    font-size: 1.7rem;
    border-radius: .5rem;
    position: relative;
    overflow: hidden;
    z-index: 0;
    margin-top: 1rem;
  }
  
  .button::before{
    content: '';
    position: absolute;
    top:0; right: 0;
    width:0%;
    height:100%;
    background:var(--main);
    transition: .3s linear;
    z-index: -1;
  }
  
  .button:hover::before{
    width:100%;
    left: 0;
  }
  
  .button:hover{
    color:#D9B1AD;
  }
  header{
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
  }

  html{
    font-size: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
  }

  body{
    background: var(--background);
  }

.home{
  display: flex;
  flex-wrap: wrap;
  gap:1.5rem;
  min-height: 100vh;
  align-items: center;
  background:url(../img/home-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.home .content{
  flex:1 1 40rem;
  padding-top: 6.5rem;
}

.home .content h3{
  font-size: 5rem;
  color:var(--second);
}

.home .content p{
  font-size: 1.7rem;
  color:var(--second);
  padding:1rem 0;
}
.home .image{
  flex:1 1 40rem;
}

.home .image img{
  width:50%;
  padding:1rem;
  animation:float 3s linear infinite;
}

@keyframes float{
  0%, 100%{
    transform: translateY(0rem);
  }
  50%{
    transform: translateY(1rem);
  }
}


/* Quienes somos css*/

.speciality .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
  }
  
  .speciality .box-container .box{
    flex:1 1 30rem;
    position: relative;
    overflow: hidden;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    border:.1rem solid rgba(0,0,0,.3);
    cursor: pointer;
    border-radius: .5rem;
  }
  
  .speciality .box-container .box .image{
    height:100%;
    width:100%;
    object-fit: cover;
    position: absolute;
    top:-100%; left:0;
  }
  
  .speciality .box-container .box .content{
    text-align: center;
    background: #F2E4DC;
    padding:2rem;
  }
  
  .speciality .box-container .box .content img{
    margin:1.5rem 0;
  }
  
  .speciality .box-container .box .content h3{
    font-size: 2.5rem;
    color:#333;
  }
  
  .speciality .box-container .box .content p{
    font-size: 1.6rem;
    color:#666;
    padding:1rem 0;
  }
  
  .speciality .box-container .box:hover .image{
    top:0;
  }
  
  .speciality .box-container .box:hover .content{
    transform: translateY(100%);
  }


  
