*{
    box-sizing: border-box;
}
body{
    background:url(../img/home-bg.jpg) no-repeat;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
    margin: 0;
  }
  h1{
      color:#593643;
      opacity: 0.6;
  }
  form{
    max-width: 100%;

    }
.input{
    border: none;
    color:#593643;
    font-size: 2rem;
    display: block;
    width: 100;
}
.input::placeholder{
    color:#F2F2F2
}
    .pedidos{
        padding: 0;
        list-style-type: none;
    }
    .pedidos li{
        border-top: 1px solid #F2F2F2 ;
        cursor: pointer;
        font-size: 1.5rem;
        padding: 1rem 2rem;
    }
    /* Cuando el pedido está completo  */
    .pedidos li.completed{
        color: #593643;
        text-decoration: line-through;
    }
    small{
        color: #73384E;
        margin-top: 3rem;
        text-align: center;
    }
