
h1, h3{
    color:#566573;
}
body{
    background:url(../img/home-bg.jpg) no-repeat;
    background-color: #e9dccd;
}
button{
    background-color: #733646;
    color:#e9dccd;
    border-color: #733646;
    border-radius: 3px;
    width: 100%;
}
.col{
    text-align: left;
}
.horas{
    margin-left: 8.5%;
}

.bajando{
    height: 720%;
    margin-left: 2%;
    margin-right: 2%;
}
.contenido{
    border-top: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: auto;
    height: 100%;
    background-color: #a980803d;
}
#comensales{
    width: 100%;
}
#horas{
    color: #566573;
    background-color:#D9B0B0;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    
}
#colElegir{
    text-align: right;
}
#elegir{
    position: relative;
    top : 28%;
}
#mostrarHoras .row{
    margin-top: 1.5%;
}

#calendario{
    color:#566573;
    background-color:#D9B0B0;
    border-top-right-radius: 10px; 
    border-top-left-radius: 10px;
   
}