<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <title>IW: Welcome</title>
    <link rel="stylesheet" href="css/carta.css" />
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="fragments/nav.html :: nav"></header>

    <main class="flex-shrink-0">
        
        <th:block th:if="0==1">
    <!-- Idea funcionamiento: 
        Datos:  -variable con la lista de categorias (categorias.lista)
                -variables con la lista de platos de cada categoria (una variable por categoria,
                 y cuyo nombre de variable se corresponde con el nombre de la categoria)
        Funcionamiento: La navbar se cargara recorriendo la lista de categorias. Cada boton del navbar tendra como objetivo un div
                        cuyo id sera el nombre de la categoria       

                        Se cargan tantos divs (que seran los contenedores de los platos) como categorias hay.
                        Cada div tendra como id el nombre de la categoria
                        Dentro de cada div se cargan los platos de su categoria, accediendo a la variable que los contiene, 
                        cuyo nombre es el mismo que el de la categoria
                
        *Este th:block con el if, sirve para que este comentario no se cargue en el html que ve el navegador
                    -->
        </th:block>

        <nav class="navbar-light bg-light">
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <th:block th:each="cat,iter: ${categorias}"><!-- Se recorre la lista de categorias para crear los elementos de la navbar, el primero se pone como activo-->
                    <button th:if="${iter.index} == 0" th:text="${cat.nombre}" class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" th:data-bs-target="'#'+${cat.getNombre()}" type="button" role="tab" aria-controls="nav-home" aria-selected="true">uno</button>
                    <button th:unless="${iter.index} == 0" th:text="${cat.nombre}" class="nav-link" id="nav-home-tab" data-bs-toggle="tab" th:data-bs-target="'#'+${cat.getNombre()}" type="button" role="tab" aria-controls="nav-home" aria-selected="false">uno</button>
                </th:block>
            </div>
          </nav>

          <th:block th:if="${session.u}">
            <th:block th:if="${session.u.hasRole('ADMIN')}">
              <div class="d-flex justify-content-end">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Añadir Plato
                  </button>
              </div>
            </th:block>
          </th:block>
         
        <!-- tab que va cambiando los panel que muestra dinamicamente segun lo que se pulse en el navbar-->
          <div class="tab-content" id="nav-tabContent">
               <!-- Se recorre la lista de categorias para crear los pane de cada categoria (los cuales contendran los platos)-->
            <th:block th:each="cat,iter: ${categorias}">
                   
                <!--la primera categoria se marca como activa para que se muestre por defecto-->
                <div th:if="${iter.index} == 0" class="tab-pane fade show active" th:id="${cat.nombre}" role="tabpanel" aria-labelledby="nav-home-tab">
                    <div class="row panelPlatos"> <!-- Estructura: Cada pane tendra una fila con columnas indefinidas, de manera que si no entran las columnas, se ponen en varias filas automaticamente-->
                         <!-- Dentro de cada pane, recorremos todos los platos de dicha categoria y los metemos (solo los que esten activos)--> 
                        
                         <div class="col-md-3 text-center divPlato" th:each="plato: ${cat.platos}" th:if="${plato.activo} == true" th:attr="data-plato=${plato.id}"> <!-- Tras procesarlo seria algo del tipo plato: ${Entrantes}   siendo Entrantes una variable de tipo lista del modelo-->
                          
                          <!-- <th:block th:if="${plato.id} == 12">
                            <img th:src="@{/img/platos/12.jpg}" src="/img/PlatoDefault.jpg" alt="logo IW" class="img-thumbnail img-fluid mw-100">
                          </th:block> -->  
                         <!--  <th:block th:unless="${plato.id} == 12"> -->
                            <!-- @{/user/{id}/pic(id=${session.u.id})} -->
                            <a th:href="@{/verPlato?platoElegidoId={id} (id=${plato.id})}">
                          <img th:src="@{/img/platos/{id}.jpg(id=${plato.id})}" src="/img/PlatoDefault.jpg" alt="logo IW" class="img-thumbnail mw-100 miClase"> 
                           </a>
                           <th:block>
                             <span class="top" th:if="${top.isFirst(cat.id, plato.id)} == true">🥇</span>
                             <span class="top" th:if="${top.isSecond(cat.id, plato.id)} == true">🥈</span>
                             <span class="top" th:if="${top.isThird(cat.id, plato.id)} == true">🥉</span>
                           </th:block>
                          <!-- </th:block><br> -->
                            <form th:action = "@{/verPlato}"><!--Por ahora se pasa por get el nombre del plato, pero quizas mas adleante deberia de ser su id-->
                              <button type="submit" class="btn btn-primary" name="platoElegidoId" th:value="${plato.id}" th:text="${plato.getNombre()}"style="margin-top: 10px;">Patatas bravas</button> 
                            </form>
                            <th:block th:if="${session.u}">
                              <th:block th:if="${session.u.hasRole('ADMIN')}">
                                <!-- <div class="d-flex justify-content-end"> -->
                                  <button type="button" class="btn btn-primary botonDeletePlato" th:value="${plato.id}"><!--  data-bs-toggle="modal" data-bs-target="#modalDeletePlato" -->
                                    ❌
                                    </button>
                                <!-- </div> -->
                              </th:block>
                            </th:block>

                          
                        </div>

                      
                    </div>

                </div><!-- a partir de aqui cada vuelta del each generara un panel con sus respectivos platos-->
                <div th:unless="${iter.index} == 0" class="tab-pane fade" th:id="${cat.nombre}" role="tabpanel" aria-labelledby="nav-home-tab">
                    <div class="row panelPlatos"> 
                        <div class="col-md-3 text-center divPlato" th:each="plato: ${cat.platos}" th:attr="data-plato=${plato.id}"> <!-- Tras procesarlo seria algo del tipo plato: ${Entrantes}   siendo Entrantes una variable de tipo lista del modelo-->
                            <!-- <img th:src="@{/img/PlatoDefault.jpg}" src="/img/PlatoDefault.jpg" alt="logo IW" class="img-thumbnail mw-100 miClase"> -->
                            <a th:href="@{/verPlato?platoElegidoId={id} (id=${plato.id})}">
                            <img th:src="@{/img/platos/{id}.jpg(id=${plato.id})}" src="/img/PlatoDefault.jpg" alt="logo IW" class="img-thumbnail mw-100 miClase"> 
                            </a>
                            <th:block>
                              <span class="top" th:if="${top.isFirst(cat.id, plato.id)} == true">🥇</span>
                              <span class="top" th:if="${top.isSecond(cat.id, plato.id)} == true">🥈</span>
                              <span class="top" th:if="${top.isThird(cat.id, plato.id)} == true">🥉</span>
                            </th:block>
                            <br>
                            <form th:action = "@{/verPlato}">  <!-- antes value="${plato.debugGetName()}"  con lombock se puede acceder directamente a la variable como si fuera public-->
                            <button type="submit" class="btn btn-primary" name="platoElegidoId" th:value="${plato.id}" th:text="${plato.getNombre()}"style="margin-top: 10px;">Patatas bravas</button> 
                        </form>
                        <th:block th:if="${session.u}">
                              <th:block th:if="${session.u.hasRole('ADMIN')}">
                                <!-- <div class="d-flex justify-content-end"> -->
                                  <button type="button" class="btn btn-primary botonDeletePlato" th:value="${plato.id}"><!--  data-bs-toggle="modal" data-bs-target="#modalDeletePlato" -->
                                    ❌
                                    </button>
                                <!-- </div> -->
                              </th:block>
                            </th:block>   
                        </div>
                    </div>
                </div>

                    



            </th:block>

          </div>


  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Añadir Plato</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form role="form" id="myForm"> <!-- onsubmit="false;"   truco para validacion de requiered no necesario ya -->
            <label for="campoNombrePlato" class="form-label">Nombre del plato</label>
            <input type="text" class="form-control" name="nombrePlato" id="campoNombrePlato" value="" required> 

            <label for="campoPrecioPlato" class="form-label">Precio del plato</label>
            <input type="number" step="0.01" class="form-control" name="precioPlato" id="campoPrecioPlato" required> 

            <label for="campoCategoriaPlato" class="form-label">Categoria del plato</label>
            <select class="form-select" name="categoriaPlato" id="campoCategoriaPlato">
                <th:block th:each="cat,iter: ${categorias}">
                    <option th:value="${cat.nombre}" th:text="${cat.nombre}">opcion</option>
                </th:block>
              </select>


            <label for="campoDescripcionPlato" class="form-label">Descripcion del plato</label>
            <textarea class="form-control" id="campoDescripcionPlato" name="descripcionPlato" rows="4" cols="60" required></textarea>
            
            <label for="fPlato" class="form-label">Imagen del plato</label>
            <img id="imgNuePlato" alt="Imagen nuevo Plato" class="img-thumbnail mw-100 miClase">
            <input type="file" id="fPlato" accept="image/jpeg,image/png" required>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
              <button type="button" id ="botonForm" class="btn btn-primary">Confirmar</button>
            </div>
          </form>
        </div>
        
      </div>
    </div>
  </div>

  <!-- Modal 2 -->
  <div class="modal fade" id="modalDeletePlato" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel2">Confirmar borrar plato</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        
          <form role="form" id="formImg"> <!-- onsubmit="false;"   truco para validacion de requiered no necesario ya -->
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
              <button type="button" id ="botonFormDeletePlato" value="" class="btn btn-primary">Borrar</button>
            </div>
          </form>
        
        
      </div>
    </div>
  </div>
    
    </main>
    <th:block th:replace="fragments/footer.html :: footer" />
    
    <script th:src="@{/js/carta.js}" src="js/carta.js"></script>
</body>

</html>