<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <title>Restaurant.es: Configuracion</title>
    <link rel="stylesheet" href="css/configuracion.css" />
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="fragments/nav.html :: nav"></header>

    <main class="flex-shrink-0">
        <div class="container">
            <h1 class="mt-5">Pagina de configuracion para el propietario</h1>
        </div>
        
    </main>

    <div class="container">
        <div class="row" style="margin-top: 2%; ">

            <div class="col-md-5">

                <div class="row paramsrow">
                    <form id="paramsRestauranteForm" th:method="POST" onsubmit="return false;" style="margin-top: 4%; margin-left: 2%;">
                        <label for="nombreSitioInput">Nombre del sitio:&nbsp;&nbsp;&nbsp;</label>
                        <input type="text" id="nombreSitioInput" style="width:50%" th:value="${nombreSitio}"> <!-- creo q el 15% es respecto al padre?-->
                        <br>
                        
                        <label for="maxPedidosHora">Número máximo de pedidos por hora:&nbsp;&nbsp;&nbsp;</label>
                        <input type="number" id="maxPedidosHora" min="0" max="999" style="width:15%" th:value="${params.maxPedidosHora}"> <!-- creo q el 15% es respecto al padre?-->
                        <br>
                        <label for="inicioReservas">Horas posibles para reservar(00-23h):&nbsp;</label>
                        <input type="number" id="inicioReservas" min="00" max="23" th:value="${params.horaIni}" style="width:10%; margin-top: 5%;">
                        &nbsp;a&nbsp;
                        <input type="number" id="finalReservas"  min="00" max="23" th:value="${params.horaFin}" style="width:10%; margin-top: 5%;"> <!-- aqui no haria falta margin top pq ya esta en el otro input-->
                        <br>
                        <label for="maxReservas">Número máximo de reservas (mesas):&nbsp;</label>
                        <input type="number" id="maxReservas" min="0" th:value="${params.maxReservas}" style="width:15%; margin-top: 5%;">
                        <br>
                        <label for="personasMesa">Número de personas por mesa:&nbsp;</label>
                        <input type="number" id="personasMesa" min="0" th:value="${params.personasMesa}" style="width:15%; margin-top: 5%;">
                        <br>
         
                        <button type="submit" id="guardarParams" class="btn btn-primary" style="margin-top:5%">Guardar</button>
                    </form>
                </div>

                <div class="row divImg">
                    <form id="formImg"></form>
                    <h3 class="subTitle">Cambiar logo del sitio</h3>
                    <img id="imgRest" alt="Imagen nuevo logo" class="img-thumbnail mw-100 miClase">
                    <input type="file" id="fImgRest" accept="image/jpeg,image/png" required>
                    <!-- Los botones deben estar dentro del form para que el mensaje por el required de html funcione (ya no necesario, gestionado via js) -->
                      <button type="button" id ="botonImgRest" class="btn btn-primary">Confirmar</button>
                  </form>
                </div>


                <div class="row paramsCategorias">
                    <div class="col" style="overflow: auto; height: 325px;">
                        <div class="row">
                            <div class="row categoTitle" >
                                <div class="col">
                                    <h2 style="margin-bottom: 2%;">Categorías</h2>
                                </div>
                                <div class="col" style="text-align: right;">
                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#anadirCategoriaModal">
                                        Crear
                                    </button>   
                                </div>
                            </div>
                        </div>

                        <div id="listaCategoriasDiv" th:each="cat: ${listaCategorias}">
                            <div class="row categoriarow" th:attr="data-id=${cat.id}">
                                <div class="col" style="padding-top: 1%;">
                                    <p th:text="${cat.nombre}">sustituirCategoria</p>
                                </div>
                                <div class="col" style="text-align: right; margin-right: 5%; margin-top: 1%; margin-bottom: 1%;">
                                    <button type="submit" class="btn btn-outline-danger btn-sm eliminar">❌</button>
                                </div>
                            </div>
                        </div>

                    </div> 
                </div>

                <div class="row listPlatos">
                    <div class="col">

                        <div class="row headerTablaPlatos">
                            <div class="col">Plato</div>
                            <div class="col">Categoria</div>
                            <div class="col popu">Veces pedido</div>
                        </div>
                     
                        <div class="row contentTablaPlatos" th:each="plato: ${top}" th:if="${plato.activo} == true">
                           
                                <div class="col" >
                                    <a th:href="@{/verPlato?platoElegidoId={id} (id=${plato.id})}" th:text="${plato.nombre}"></a>
                                </div>
                                 
                                <div class="col" th:text="${plato.categoria.nombre}"></div>
                                <div class="col popu" th:text="${plato.popularidad}"></div>
                        </div>
                        
                    </div>
                </div>
                
            </div><!-- final primera columna -->

            

            <div class="col-md-6 offset-1 emplist" >    
                <div class="row">
                    <div class="col">
                        <h2 style="margin-top: 1%; margin-bottom: 2%;">Lista de empleados</h2>
                    </div>
                    <div class="col" style="text-align: right; margin-top: 1%;">
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#anadirEmpleadoModal">
                            Añadir empleado
                        </button>   
                    </div>
                </div>

                <div th:each="emp: ${listaEmpleados}" id="listaDivsEmpleados">
                    <div class="row emprow" th:attr="data-id=${emp.id}">
                        <div class="col" style="padding-top: 1%;">
                            <p th:text="${emp.username}">sustituirEmpleado</p>
                        </div>
                        <div class="col" style="text-align: right; margin-right: 5%; margin-top: 1%; margin-bottom: 1%;">
                            <button type="submit" class="btn btn-outline-danger btn-sm eliminar">❌</button>
                        </div>
                    </div>
                </div>
              
            </div>
            
        </div>
    </div>



    <!-- Modal anadir empleado -->
    <div class="modal fade" id="anadirEmpleadoModal" tabindex="-1" aria-labelledby="anadirEmpleadoModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="anadirEmpleadoModalLabel">Añadir empleado</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="formAnadirEmpleado" th:action="@{/}" onsubmit="return false;">
                        <label for="username" style="display: block;">Username</label>
                        <input type="text" id="username" required>

                        <label for="email" style="display: block;" class="modalLabel">Email</label>
                        <input type="email" id="email" required>

                        <div class="row">
                            <div class="col">
                                <label for="nombreEmpleado" style="display: block;" class="modalLabel">Nombre</label>
                                <input type="text" id="nombreEmpleado">
                            </div>
                            <div class="col">
                                <label for="apellidoEmpleado" style="display: block;" class="modalLabel">Apellido</label>
                                <input type="text" id="apellidoEmpleado">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <label for="contrasena1Empleado" style="display: block;" class="modalLabel">Contraseña</label>
                                <input type="password" id="contrasena1Empleado" onchange="validatePassword()" required>
                            </div>
                            <div class="col">
                                <label for="contrasena2Empleado" style="display: block;" class="modalLabel">Repite la contraseña</label>
                                <input type="password" id="contrasena2Empleado" onkeyup="validatePassword()" required>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <label for="direccion" style="display: block;" class="modalLabel">Direccion</label>
                                <input type="input" id="direccion" required>
                            </div>
                            <div class="col">
                                <label for="telefono" style="display: block;" class="modalLabel">Telefono</label>
                                <input type="tel" id="telefono" required>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" id="cerrarModal" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            <button type="submit" id="anadirEmpleadoButton" class="btn btn-primary">Añadir</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal categorias -->
    <div class="modal fade" id="anadirCategoriaModal" tabindex="-1" aria-labelledby="anadirCategoriaModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="anadirCategoriaModalLabel">Añadir categoría</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="formAnadirCategoria" th:action="@{/}" onsubmit="return false;">
                        <label for="categoria" style="display: block;">Categoría</label>
                        <input type="text" id="categoria" required>

                        <div class="modal-footer">
                            <button type="button" id="cerrarModal" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            <button type="submit" id="anadirCategoriaButton" class="btn btn-primary">Añadir</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal logo -->
  <div class="modal fade" id="logoModal" tabindex="-1" aria-labelledby="logoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="logoModalLabel">Cambiar logo</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form role="form" id="myForm">
            <label for="nombreRes" class="form-label">Nombre del restaurante</label>
            <input type="text" class="form-control" name="nombreRes" id="nombreRes" value="" required> 
           <label for="fLogo" class="form-label">Imagen del logo</label>
           <img id="imgNueLogo" alt="Imagen nuevo logo" class="img-thumbnail mw-100 miClase">
            <input type="file" id="fLogo" accept="image/jpeg,image/png" required>
            <!-- Los botones deben estar dentro del form para que el mensaje por el required de html funcione (ya no necesario, gestionado via js) -->
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
              <button type="button" id ="botonForm" class="btn btn-primary">Confirmar</button>
            </div>
          </form>
        </div>
        
      </div>
    </div>
  </div>


    <th:block th:replace="fragments/footer.html :: footer" />
    <script th:src="@{/js/configuracion.js}" src="js/configuracion.js"></script>
    
</body>

</html>