<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/head :: header" />
    <title>Restaurant.es: Pedidos</title>
    <link rel="stylesheet" href="css/historicoPedidos.css" />
</head>
<body class="d-flex flex-column h-100">
    <input id ="pagPed" type="hidden">
    <header th:replace="fragments/nav.html :: nav"></header>
    <main class="flex-shrink-0">
        <div class="container">
            <h3 class="mt-5">Pedidos ya entregados</h3>
        </div>

        <input id ="idUs"type="hidden" th:value="${idUs}">

        <!--Tabla PEDIDOS NUEVOS, float left para que esté a la izquierda-->
        <div class="container contenedorpeds">
                <!-- Si el el primer elemento tiene q tener un css diferente para que queden bonitos los bordes,
                lo mismo pasa con el ultimo elemento y los del medio-->
              
                    <!-- Si el el primer elemento tiene q tener un css diferente para que queden bonitos los bordes,
                    lo mismo pasa con el ultimo elemento y los del medio-->
                       
                    

                <div class="row filaPedido" th:each="ped,i: ${listaPedidos}" th:if="${ped.activo} == true"> 
                    <div class="col" th:text="'Pedido: ' + ${ped.getId} + ', Direccion: ' + ${ped.getDireccion}" style="margin: auto;">
                    <!-- <div class="col" th:text="${ped.getId}" style="margin: auto;"></div> -->
                        
                    </div>

                    <div class="col" style="margin: auto;">
                        <p th:class="'State'+${ped.getId}" th:text="${ped.getEstado} + ' Fecha : ' + ${ped.getFechaFormated()}">estado</p>
                    </div>

                    <div class="col" style="margin: auto;">   
                        <ul>
                            <!--EXPLICACIOÓN DE THBLOCKS Y COMO OBTENER LOS PLATOS
                            Como el pedido tiene muchos platos (ped) tienes que generar otro block con otra
                            variable (plat) para poder ir sacando de uno en uno los platos-->
                            <th:block th:each="plat,i: ${ped.getPlatos}">
                            <li th:text="${plat.getPlato.getNombre} +' x' + ${plat.cantidad}">plato 1</li>
                            </th:block>
                        </ul>

                    </div>
                    <div class="col" style="margin: auto;" th:text="'Total: ' + ${ped.getTotalAsString + '€'}"> 
                    </div>
                    <div class="col-1 divBotBorrar">
                        <button class="botBorrar" th:value="${ped.getId}">🗑️</button>
                    </div>
                </div>
            </div>
                                     
    </main>

    <th:block th:replace="fragments/footer.html :: footer" />
    <script th:src="@{/js/historicoPedidos.js}" src="js/historicoPedidos.js"></script>
   
</body>
</html>

