<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/head :: header" />
    <title>Restaurant.es: Pedidos</title>
    <link rel="stylesheet" href="css/pedidosUsuario.css" />
</head>
<body class="d-flex flex-column h-100">
    <header th:replace="fragments/nav.html :: nav"></header>
    <main class="flex-shrink-0">
        <div class="container">
            <h3 class="mt-5">Pagina pedidos desde punto de vista ususario</h3>
        </div>
        <!--Tabla PEDIDOS NUEVOS, float left para que esté a la izquierda-->
        <div class="container">
                <!-- Si el el primer elemento tiene q tener un css diferente para que queden bonitos los bordes,
                lo mismo pasa con el ultimo elemento y los del medio-->
                <th:block th:each="ped,i: ${listaPedidos}">
                    <!-- Si el el primer elemento tiene q tener un css diferente para que queden bonitos los bordes,
                    lo mismo pasa con el ultimo elemento y los del medio-->
                       
                    <!-- Primer elemento -->
                    <div class="row" th:if="${i.first}" style="background-color: aquamarine;
                    border-top-left-radius: 5px; border-top-right-radius: 5px; border: 1px solid; border-bottom: 0;
                    padding-top: 2%; padding-bottom: 2%; padding-left: 10%; margin-top: 5%;"> 
                        <div class="col" th:text="Pedido + ' ' + ${ped.getId}" style="margin: auto;">
                         
                        </div>
                        <div class="col">
                            <form id="verDetallesPedido" th:action="@{/}">

                                <!-- boton detalles que si lo pulsas te muestra los detalles con un modal-->
                                <button type="submit" class="btn btn-primary btn-sm" style="margin: auto;" data-bs-toggle="modal" 
                                data-bs-target="#modalVerDetalles" >Ver detalles</button>
                               
                                    <!-- Modal -->
                                    <div class="modal fade" id="modalVerDetalles" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalAnadirEmpleadoLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="modalAnadirEmpleadoTitle">Ver detalles del pedido</h5>
                                                    <!-- El boton es la crucecita de arriba a la derecha para cerrar -->
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body" style="text-align: left;">
                                                    <form id="formAnadirEmpleado">
                                                       
                                                        <!--NO ENTIENDO POR QUÉ SI BORRO ESTE INPUT SE VA TODO EL MODAL A LA KK-->
                                                        <input type="text" id="nombreEmpleado" required>

                                                        <div class="row">
                                                            <div class="col">
                                                                <h6 style="display: block;" class="modalLabel">Lista platos</h6>
                                                                <ul>
                                                                    <li th:text="${ped}">plato 1</li>
                                                                    <li>plato 2</li>
                                                                    <li>plato 3</li>
                                                                </ul>
                                                               
                                                            </div>
                                                            <div class="col">
                                                                <h6 style="display: block;" class="modalLabel">Cliente</h6>
                                                            </div>
                                                            <div class="col">
                                                                <h6 style="display: block;" class="modalLabel"  th:text="${ped}">Dirección</h6>
                                                            </div>
                                                        </div>
                                                    </form>

                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                                    <form id="anadirEmpleado" th:action="@{/}">
                                                        <button type="submit" class="btn btn-primary">Añadir</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                
                            </form>
                        </div>
    
                    </div>
    
                    <!-- Ultimo elemento -->
                    <div class="row" th:if="${i.last}"  style="background-color: rgb(255, 127, 144);
                    border: 1px solid; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px;
                    padding-top: 2%; padding-bottom: 2%; padding-left: 10%;"> 
                        <div class="col" th:text="${ped}">
                            
                        </div>
                    
                    </div>
    
                    <!-- Elementos del medio -->
                    <div class="row" th:unless="${i.first or i.last}" 
                    style="border: 1px solid; border-bottom: 0; padding-top: 2%; padding-bottom: 2%;
                    padding-left: 10%;"> 
                        <div class="col" th:text="${ped}">
                            
                        </div>
                    </div>
    
                </th:block>
                

            
                

            
          <!--  <div style="float: left;">
                <h1>Nuevos pedidos</h1>
            </div>


            <div style="float: right;">
                <h1>Pedidos2</h1></div>
            </div>-->
            
        </div>
      
    </main>

    <th:block th:replace="fragments/footer.html :: footer" />
    <script src="js/pedidosEmpleado.js"></script>

</body>
</html>

