<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">
<script src="js/pedidosEmpleado.js"></script>

<head>
    <th:block th:replace="fragments/head :: header" />
    <title>Restaurant.es: Pedidos</title>
    <link rel="stylesheet" href="css/pedidosEmpleado.css" />
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="fragments/nav.html :: nav"></header>

    <main class="flex-shrink-0">
        <div class="container">
            <h1 class="mt-5">Pagina pedidos desde punto de vista usuario</h1>

        </div>

        <!--div para la tabla NUEVOS PEDIDOS-->
        <div style="padding: 10px;">

            <div class="container" style="width: 45%; float: left; margin:25px;">
                <h2>Nuevos pedidos</h2>

                <div class="row" style="border: 1px solid; padding-top: 2%; padding-bottom: 2%;
                    padding-left: 10%;">
                    <th:block th:if=" ${ped.isEnCurso}==FALSE and ${ped.isActivo}==TRUE" th:each="ped,i: ${listaPedidos}">
                        <!-- Si el el primer elemento tiene q tener un css diferente para que queden bonitos los bordes,
                            lo mismo pasa con el ultimo elemento y los del medio-->

                        <!--esto es para llamar en javascript
                             th:attr="data-id=${ped.id}"-->
                        <div class="divCambiar" th:attr="data-id=${ped.id}">

                            <div class="col" th:text="'Pedido: ' + ${ped.id} + ', Direccion: ' + ${ped.getDireccion}
                            + ', Cliente: ' + ${ped.cliente.username}">

                            </div>
                            <!-- El valor sirve para pasarlo al javaScript (aceptarPed) para saber qué id tiene el pedido que quiero
                            poner en curso y el name tiene que ser el mismo de la columna de la base de datos para el campo que quiero
                            cambiar. En este caso quiero cambiar que el pedido esté en curso= true-->
                            <form>
                                <!--PONER TH:VALUE Y TODO CON TH: QUE SI NO NO LO LEE!!!-->
                                <button type="button" class="aceptar" th:value="${ped.id}"
                                    style="float: left; width: 100px; margin-right: 5px; background-color: #849974;">Aceptar</button>
                                <button type="button" class="rechazar"
                                    style="float: left; width: 100px; margin-right: 5px;">Rechazar</button>
                            </form>
                        </div>
                    </th:block>
                </div>

            </div>

            <div class="container" style="width: 45%; float: right;  margin:25px;">
                <h2>Pedidos actuales</h2>

                <div class="row pedEnCurso" style="border: 1px solid; padding-top: 2%; padding-bottom: 2%;
                    padding-left: 10%;">
                    <th:block th:if=" ${ped.isEnCurso}==true and ${ped.isActivo}==TRUE" th:each="ped,i: ${listaPedidos}">
                        <!-- Si el el primer elemento tiene q tener un css diferente para que queden bonitos los bordes,
                            lo mismo pasa con el ultimo elemento y los del medio-->

                        <div class="divCambiados" th:attr="data-id=${ped.id}">
                            <div class="col" th:text="'Pedido: ' + ${ped.getId} + ', Direccion: ' + ${ped.getDireccion}
                            + ', Cliente: ' + ${ped.getCliente.username}"></div>
                            <form>
                                <button class="rechazar" type="button" style="float: left; width: 100px; margin-right: 5px;" >Eliminar</button>
                                <button class="modify" type="button" data-bs-toggle="modal" data-bs-target="#modalModPed"
                                    style="float: left; width: 100px; margin-right: 5px;background-color: #849974">Modificar</button>
                                                                
                                <!-- Modal -->
                                <div class="modal fade" id="modalModPed" data-bs-backdrop="static"
                                    data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalModPedLabel"
                                    aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="modalModPedTitle">Añadir empleado</h5>
                                                <!-- El boton es la crucecita de arriba a la derecha para cerrar -->
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body" style="text-align: left;">
                                                <!-- IMPORTANTE -->
                                                <!-- Da error, pero es problema de Visual Code, el codigo si funciona, (de hecho, en el portatil no me daba error)-->
                                                <form id="formModPed" th:action="@{/}" onsubmit="return false;">
                                                    <label for="nombrePedido" style="display: block;">Número de
                                                        pedido</label>
                                                    <input type="text" id="nombrePedido" required>

                                                    <label for="nombrePedido" style="display: block;">Dirección</label>
                                                    <input type="text" id="nombrePedido" required>

                                                    <label for="nombrePedido" style="display: block;">Cliente</label>
                                                    <input type="text" id="nombrePedido" required>

                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                            data-bs-dismiss="modal">Cerrar</button>
                                                        <button type="submit" id="anadirEmpleadoButton"
                                                            class="btn btn-primary">Guardar cambios</button>
                                                    </div>

                                                </form>

                                            </div>

                                        </div>
                                    </div>
                                </div>





                            </form>
                        </div>

                    </th:block>
                </div>

            </div>
        </div>

    </main>

    <th:block th:replace="fragments/footer.html :: footer" />
    <script th:src="@{/js/pedidosEmpleado.js}" src="js/pedidosEmpleado.js"></script>
</body>

</html>