<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">
<!-- <script src="js/pedidosEmpleado.js"></script> -->

<head>
    <th:block th:replace="fragments/head :: header" />
    <title>Restaurant.es: Pedidos</title>
    <link rel="stylesheet" href="css/pedidosEmpleado.css" />
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="fragments/nav.html :: nav"></header>

    <main class="flex-shrink-0">
        <div class="sepVert"></div>
        <div class="contGlob">
            <div class="container containerLeft contenedorpeds">
                <h2>Nuevos pedidos</h2>

                <div class="row rowNuevosPed">
                    <th:block th:if=" ${ped.isEnCurso}==FALSE and ${ped.isActivo}==TRUE" th:each="ped,i: ${listaPedidos}">
                        <!-- Si el el primer elemento tiene q tener un css diferente para que queden bonitos los bordes,
                                lo mismo pasa con el ultimo elemento y los del medio-->

                        <!--esto es para llamar en javascript
                                th:attr="data-id=${ped.id}"-->
                        <div class="divCambiar elemento" th:attr="data-id=${ped.id}">

                            <div class="col" th:text="'Pedido: ' + ${ped.id} + ', Direccion: ' + ${ped.getDireccion}
                                + ', Cliente: ' + ${ped.cliente.username} + ', Fecha : ' + ${ped.getFechaFormated()} + ', Total: ' + ${ped.getTotalAsString() + '€'}">
                        
                            </div>
                            <p th:if=" ${ped.express}==TRUE" th:text="Express" style="color: red;"></p>
                            <!-- El valor sirve para pasarlo al javaScript (aceptarPed) para saber qué id tiene el pedido que quiero
                                poner en curso y el name tiene que ser el mismo de la columna de la base de datos para el campo que quiero
                                cambiar. En este caso quiero cambiar que el pedido esté en curso= true-->
                                <!--PONER TH:VALUE Y TODO CON TH: QUE SI NO NO LO LEE!!!-->
                                <div th:if="${ped.isTakeAway} == true" class="divEstados">
                                        <th:block th:each="est,iter: ${listaEstadosTakeAway}">
                                            <button  th:if="${iter.index} == 0" th:data-estidped="${ped.id}" class="botonEstado actual oculto" th:value="${est}" th:text="${est}"> </button>
                                            <button th:unless="${iter.index} == 0" th:data-estidped="${ped.id}" class="botonEstado noActual oculto" th:value="${est}" th:text="${est}"> </button>                          
                                            </th:block>
                                    </div>
                                <div th:unless="${ped.isTakeAway} == true" class="divEstados">
                                        <th:block th:each="est,iter: ${listaEstadosADomicilio}">
                                        <button  th:if="${iter.index} == 0" th:data-estidped="${ped.id}" class="botonEstado actual oculto" th:value="${est}" th:text="${est}"> </button>
                                        <button th:unless="${iter.index} == 0" th:data-estidped="${ped.id}" class="botonEstado noActual oculto" th:value="${est}" th:text="${est}"> </button>                          
                                        </th:block>
                                    </div>

                                <button type="button" class="aceptar verde" th:value="${ped.id}">Aceptar</button>
                                <button type="button" class="rechazar rojo">Rechazar</button>

                        <button class="accordion">Listado de platos <p> 🔽</p></button>
                            <div class="panel">
                                <p> </p>
                                <p th:each="linea: ${ped.platos}" th:text="${linea.plato.nombre} + ' x' + ${linea.cantidad} + 
                                ' (' + ${#numbers.formatDecimal(linea.precio, 1, 'DEFAULT', 2, 'DEFAULT')} + '€/ud)'
                                ">Lechuga</p>
                                <p th:if=" ${ped.express}==TRUE">Express x1 (1,99€)</p><!-- th:text=" 'Total: '+${#numbers.formatDecimal(#aggregates.sum(ped.platos.![precio*cantidad]), 1, 'DEFAULT', 2, 'DEFAULT')} +' €' " -->
                                <p style="font-weight: bold;" th:text=" 'Total: '+${ped.getTotalAsString()} +' €' ">Total</p>
                            </div>
                        </div>
                    </th:block>
                </div>

            </div>

            <div class="container containerRight">
                <div class="titleCol2">
                    <div>
                        <h2>Pedidos actuales</h2>
                    </div>
                    <div class="botHist">
                        <form method="get" action="/historicoPedidos">
                            <button type="submit">Historico Pedidos</button>
                        </form>
                    </div>
                    
                </div>

                <div class="row pedEnCurso">
                    <th:block th:if=" ${ped.isEnCurso}==true and ${ped.isActivo}==TRUE" th:each="ped,i: ${listaPedidos}">
                        <!-- Si el el primer elemento tiene q tener un css diferente para que queden bonitos los bordes,
                                lo mismo pasa con el ultimo elemento y los del medio-->

                        <div class="divCambiados elemento" th:attr="data-id=${ped.id}">
                            <div class="col" th:text="'Pedido: ' + ${ped.getId} + ', Direccion: ' + ${ped.getDireccion}
                                + ', Cliente: ' + ${ped.getCliente.username} + ', Fecha : ' + ${ped.getFechaFormated()} + ', Total: ' + ${ped.getTotalAsString() + '€'}"></div>
                                
                                <p th:if=" ${ped.express}==TRUE" th:text="Express" style="color: red;"></p>

                                <div th:if="${ped.isTakeAway} == true" class="divEstados">
                                    <th:block th:each="est,iter: ${listaEstadosTakeAway}">
                                        <button  th:if="${est} == ${ped.getEstadoAsString()}" th:data-estidped="${ped.id}" class="botonEstado actual" th:value="${est}" th:text="${est}"> </button>
                                        <button th:unless="${est} == ${ped.getEstadoAsString()}" th:data-estidped="${ped.id}" class="botonEstado noActual" th:value="${est}" th:text="${est}"> </button>                          
                                        </th:block>
                                </div>
                                <div th:unless="${ped.isTakeAway} == true" class="divEstados">
                                    <th:block th:each="est,iter: ${listaEstadosADomicilio}">
                                    <button  th:if="${est} == ${ped.getEstadoAsString()}" th:data-estidped="${ped.id}" class="botonEstado actual" th:value="${est}" th:text="${est}"> </button>
                                    <button th:unless="${est} == ${ped.getEstadoAsString()}" th:data-estidped="${ped.id}" class="botonEstado noActual" th:value="${est}" th:text="${est}"> </button>                          
                                    </th:block>
                                </div>
                                <button class="rechazar rojo" type="button">Eliminar</button>
                            
                            <button class="accordion">Listado de platos <p> 🔽</p></button>
                            <div class="panel">
                                <p> </p>
                                <p th:each="linea: ${ped.platos}" th:text="${linea.plato.nombre} + ' x' + ${linea.cantidad} + 
                                ' (' + ${#numbers.formatDecimal(linea.precio, 1, 'DEFAULT', 2, 'DEFAULT')} + '€/ud)'
                                ">Lechuga</p>
                                <p th:if=" ${ped.express}==TRUE">Express x1 (1,99€)</p><!-- th:text=" 'Total: '+${#numbers.formatDecimal(#aggregates.sum(ped.platos.![precio*cantidad]), 1, 'DEFAULT', 2, 'DEFAULT')} +' €' " -->
                                <p style="font-weight: bold;" th:text=" 'Total: '+${ped.getTotalAsString()} +' €' ">Total</p>
                            </div>
                        </div>

                    </th:block>
                </div>

            </div>
        </div>

    </main>

    <!-- bloques para duplicar y reutilizar cuando llega un pedido por websockets (que antes no aparecian los estados) -->
    <!-- desde el js hay q añadir lo de th:data-estidped="${ped.id} -->
    <div id="divEstadosTakeAway" class="divEstados">
        <th:block th:each="est,iter: ${listaEstadosTakeAway}">
                <button  th:if="${iter.index} == 0" class="botonEstado actual oculto" th:value="${est}" th:text="${est}"> </button>
                <button th:unless="${iter.index} == 0" class="botonEstado noActual oculto" th:value="${est}" th:text="${est}"> </button>                          
        </th:block>
    </div>
    <div id="divEstadosDomicilio" class="divEstados">
        <th:block th:each="est,iter: ${listaEstadosADomicilio}">
            <button  th:if="${iter.index} == 0" class="botonEstado actual oculto" th:value="${est}" th:text="${est}"> </button>
            <button th:unless="${iter.index} == 0" class="botonEstado noActual oculto" th:value="${est}" th:text="${est}"> </button>                          
        </th:block>
    </div>

    <!-- Modal 2 -->
    <div class="modal fade" id="modalDelPed" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered mydialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel2">Eliminar pedido</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            
            <form role="form" id="formDelPedido">
                <label for="motivo">(Opcional) Introduce a continuacion el motivo por el cual se elimina el pedido</label>
                <p>(Por ejemplo, direccion de envio incorrecta)</p>
                <textarea id="motivo"></textarea>
                <div class="modal-footer">

                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" id ="botonFormDelPedido" value="" class="btn btn-primary">Confirmar</button>
                </div>
            </form>
            
            
        </div>
        </div>
    </div>

    <th:block th:replace="fragments/footer.html :: footer" />
    <script th:src="@{/js/pedidosEmpleado.js}" src="js/pedidosEmpleado.js"></script>
    <!-- <script th:src="@{/js/pedidosEmpleadoPrueba.js}" src="js/pedidosEmpleadoPrueba.js"></script>
</body> -->

</html>