<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <title>Restaurant.es: Pedidos</title>
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="fragments/nav.html :: nav"></header>

    <main class="flex-shrink-0">
        <div class="container">
            <h1 class="mt-5">Pagina pedidos desde punto de vista usuario</h1>
        </div>

        <div style="padding: 10px;">
            <div class="container" style="width: 45%; float: left; margin:25px;">
                <th:block th:each="ped,i: ${listaPedidos}">
                    <!-- Si el el primer elemento tiene q tener un css diferente para que queden bonitos los bordes,
                    lo mismo pasa con el ultimo elemento y los del medio-->

                    <!-- Primer elemento -->
                    <div class="row" th:if="${i.first}" style="background-color: aquamarine;
                    border-top-left-radius: 5px; border-top-right-radius: 5px; border: 1px solid; border-bottom: 0;
                    padding-top: 2%; padding-bottom: 2%; padding-left: 10%; margin-top: 5%;"> 
                        <div class="col" th:text="${ped}" style="margin: auto;">
                            
                        </div>
                        <div class="col">
                            <form id="verDetallesPedido" th:action="@{/}">
                                <button type="submit" class="btn btn-primary btn-sm" style="margin: auto ;">Ver detalles</button>
                            </form>
                        </div>

                    </div>

                    <!-- Ultimo elemento -->
                    <div class="row" th:if="${i.last}"  style="background-color: rgb(255, 127, 144);
                    border: 1px solid; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px;
                    padding-top: 2%; padding-bottom: 2%; padding-left: 10%;"> 
                        <div class="col" th:text="${ped}">
                            
                        </div>
                    
                    </div>

                    <!-- Elementos del medio -->
                    <div class="row" th:unless="${i.first or i.last}" 
                    style="border: 1px solid; border-bottom: 0; padding-top: 2%; padding-bottom: 2%;
                    padding-left: 10%;"> 
                        <div class="col" th:text="${ped}">
                            
                        </div>
                    </div>

                </th:block>

            </div>

            <div class="container" style="width: 45%; float: right;  margin:25px;">
                <th:block th:each="ped,i: ${listaPedidos}">
                    <!-- Si el el primer elemento tiene q tener un css diferente para que queden bonitos los bordes,
                    lo mismo pasa con el ultimo elemento y los del medio-->

                    <!-- Primer elemento -->
                    <div class="row" th:if="${i.first}" style="background-color: aquamarine;
                    border-top-left-radius: 5px; border-top-right-radius: 5px; border: 1px solid; border-bottom: 0;
                    padding-top: 2%; padding-bottom: 2%; padding-left: 10%; margin-top: 5%;"> 
                        <div class="col" th:text="${ped}" style="margin: auto;">
                            
                        </div>
                        <div class="col">
                            <form id="verDetallesPedido" th:action="@{/}">
                                <button type="submit" class="btn btn-primary btn-sm" style="margin: auto ;">Ver detalles</button>
                            </form>
                        </div>

                    </div>

                    <!-- Ultimo elemento -->
                    <div class="row" th:if="${i.last}"  style="background-color: rgb(255, 127, 144);
                    border: 1px solid; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px;
                    padding-top: 2%; padding-bottom: 2%; padding-left: 10%;"> 
                        <div class="col" th:text="${ped}">
                            
                        </div>
                    
                    </div>

                    <!-- Elementos del medio -->
                    <div class="row" th:unless="${i.first or i.last}" 
                    style="border: 1px solid; border-bottom: 0; padding-top: 2%; padding-bottom: 2%;
                    padding-left: 10%;"> 
                        <div class="col" th:text="${ped}">
                            
                        </div>
                    </div>

                </th:block>

            </div>
        </div>
        
    </main>

    <th:block th:replace="fragments/footer.html :: footer" />
</body>

</html>