<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">
    <script src="js/pedidosEmpleado.js"></script>
<head>
    <th:block th:replace="fragments/head :: header" />
    <title>Restaurant.es: Pedidos</title>
    <link rel="stylesheet" href="css/pedidosEmpleado.css" />
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="fragments/nav.html :: nav"></header>

    <main class="flex-shrink-0">
        <div class="container">
            <h1 class="mt-5">Pagina pedidos desde punto de vista usuario</h1>

        </div>

        <!--div para la tabla NUEVOS PEDIDOS-->
        <div style="padding: 10px;">
            
            <div class="container" style="width: 45%; float: left; margin:25px;">
                <h2>Nuevos pedidos</h2>
               
                    <div class="row"  
                    style="border: 1px solid; padding-top: 2%; padding-bottom: 2%;
                    padding-left: 10%;"> 
                        <th:block th:if=" ${ped.isEnCurso}==FALSE" th:each="ped,i: ${listaPedidos}">
                            <!-- Si el el primer elemento tiene q tener un css diferente para que queden bonitos los bordes,
                            lo mismo pasa con el ultimo elemento y los del medio-->
        
        
                            <div class="col" th:text="'Pedido: ' + ${ped.getId} + ', Direccion: ' + ${ped.getDireccion}
                            + ', Cliente: ' + ${ped.getCliente}">
                                
                            </div>
                            <!-- El valor sirve para pasarlo al javaScript (aceptarPed) para saber qué id tiene el pedido que quiero
                            poner en curso y el name tiene que ser el mismo de la columna de la base de datos para el campo que quiero
                            cambiar. En este caso quiero cambiar que el pedido esté en curso= true-->
                           <form>
                                <button type="button" id="acep" value="${ped.id}" style="float: right; width: 100px; margin: 5px; background-color: #849974;">Aceptar</button>
                                <button style="float: right; width: 100px; margin: 5px;">Rechazar</button>
                            </form>
                        </th:block>
                    </div>

            </div>

            <div class="container" style="width: 45%; float: right;  margin:25px;">
                <h2>Pedidos actuales</h2>
               
                    <div class="row" 
                    style="border: 1px solid; padding-top: 2%; padding-bottom: 2%;
                    padding-left: 10%;"> 
                        <th:block  th:if=" ${ped.isEnCurso}==true" th:each="ped,i: ${listaPedidos}">
                            <!-- Si el el primer elemento tiene q tener un css diferente para que queden bonitos los bordes,
                            lo mismo pasa con el ultimo elemento y los del medio-->
        
                            <div class="col"  th:text="'Pedido: ' + ${ped.getId} + ', Direccion: ' + ${ped.getDireccion}
                            + ', Cliente: ' + ${ped.getCliente}"></div>  
                            <button style="float: right; width: 100px; margin: 5px;background-color: #849974">Modificar</button>
                            <button style="float: right; width: 100px; margin: 5px;">Eliminar</button>                    
                        
                        </th:block>
                    </div>

            </div>
        </div>
        
    </main>

    <th:block th:replace="fragments/footer.html :: footer" />
    <script th:src="@{/js/pedidosEmpleado.js}" src="js/pedidosEmpleado.js"></script>
</body>

</html>