<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <title>IW: Welcome</title>
    <link rel="stylesheet" href="css/reservarMesa.css" />
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="fragments/nav.html :: nav"></header>

    <main class="flex-shrink-0">
        <div class="container">
            <h1 class="mt-5">Pagina para reservar mesa</h1>
        </div>
    </main>

    <div class="row bajando">
        <div class="col-md-8">
            <div class="row" id="calendario">
                <h2>Selecciona el día</h2>
            </div>
            <div class="row contenido">
                <p>Aqui habrá un calendario super top</p>
            </div>
        </div>
        <div class="col-md-3 offset-1">
            <div class="row" id="horas">
                <h2>Horas disponibles:</h2>
            </div>
            
            <div class="row contenido" >
                <div id="mostrarHoras">
                    <div class="row">
                        <div class="col">
                            <h3>Comidas:</h3>
                        </div>
                    </div>
                    <div class="row horas">
                        <div class="col-md-1">
                            <input type="radio" class="btn-check" name="horas" id="hora1" autocomplete="off">
                            <label class="btn btn-outline-success" for="hora1">12:30</label>                            
                        </div>
                        <div class="col-md-1 offset-3">
                            <input type="radio" class="btn-check" name="horas" id="hora2" autocomplete="off">
                            <label class="btn btn-outline-success" for="hora2">13:30</label>
                        </div>
                        <div class="col-md-1 offset-3">
                            <input type="radio" class="btn-check" name="horas" id="hora3" autocomplete="off">
                            <label class="btn btn-outline-success" for="hora3">14:30</label>
                        </div>
                    </div>
                    <div class="row horas">
                        <div class="col-md-1">
                            <input type="radio" class="btn-check" name="horas" id="hora4" autocomplete="off">
                            <label class="btn btn-outline-success" for="hora4">15:00</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h3>Cenas:</h3>
                        </div>
                    </div>
                    <div class="row horas">
                        <div class="col-md-1">
                            <input type="radio" class="btn-check" name="horas" id="hora5" autocomplete="off">
                            <label class="btn btn-outline-success" for="hora5">20:30</label>                            
                        </div>
                        <div class="col-md-1 offset-3">
                            <input type="radio" class="btn-check" name="horas" id="hora6" autocomplete="off">
                            <label class="btn btn-outline-success" for="hora6">21:30</label>
                        </div>
                        <div class="col-md-1 offset-3">
                            <input type="radio" class="btn-check" name="horas" id="hora7" autocomplete="off">
                            <label class="btn btn-outline-success" for="hora7">22:30</label>
                        </div>
                    </div>

                    <div class="row" id="elegir">
                        <div class="col-md-5">
                            <p>Numero de personas :</p>
                        </div>
                        <div class="col-md-3">
                            <input id="comensales" type="number" min="1" max="15" value="1">
                        </div>
                        <div class="col-md-3 offset-1" id="colElegir">
                            <button type="submit" id="botonElegir">Elegir</button>  
                        </div>
                                                     
                    </div> 

                </div>
            </div>
        </div>
    </div>


    <th:block th:replace="fragments/footer.html :: footer" />
</body>

</html>