<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <title>Restaurant.es: Perfil</title>
    <link rel="stylesheet" th:href="@{/css/user.css}" />
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="fragments/nav.html :: nav"></header>
    
    <main class="flex-shrink-0">
        
        <div class="container">
            <div id="centeredDiv">
                <div class="cabecera">
                    <h1 class="inlineElement">¡Bienvenido <span id="mostrarUsername" th:text="${user.username} ">Paco</span>!</h1>
                    <button type="button" id="abrirModalModificar"  data-bs-toggle="modal" data-bs-target="#modalModificarPerfil">
                        ✏️
                    </button>
                </div>
                
                <div id="infoPerfil">
                    <p class="mt-5 info">📍 Direccion: <span id="mostrarDireccion" th:text="${user.direccion}">Calle null</span></p>
                    <p class="mt-5 info">✉ E-mail: <span id="mostrarEmail" th:text="${user.email}">user@ucm.es</span></p>
                    <p class="mt-5 info">📞 Teléfono: <span id="mostrarTelefono" th:text="${user.telefono}">728654782</span></p>
                    <th:block th:if="${user.firstName} != null">
                        <p class="mt-5 info">👤 Nombre: <span id="mostrarNombre" th:text="${user.firstName}"></span></p>
                    </th:block>
                    <th:block th:if="${user.lastName} != null">
                        <p class="mt-5 info">👤 Apellido: <span id="mostrarApellido" th:text="${user.lastName}"></span></p>
                    </th:block>
                </div>
            </div>
            
        </div>
    </main>





    <div class="modal fade" id="modalModificarPerfil" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modificar perfil</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form role="form" id="modificarPerfilForm" onsubmit="return false;"> <!-- onsubmit="false;"   truco para validacion de requiered no necesario ya -->
                    <div class="modal-body">
                        <label for="username" style="display: block;">Username</label>
                        <input type="text" id="username" th:value="${user.username}" required>

                        <label for="email" style="display: block;" class="modalLabel">Email</label>
                        <input type="email" id="email" th:value="${user.email}" required>

                        <div class="row">
                            <div class="col">
                                <label for="nombreEmpleado" style="display: block;" class="modalLabel">Nombre</label>
                                <input type="text" id="nombreEmpleado" th:value="${user.firstName}">
                            </div>
                            <div class="col">
                                <label for="apellidoEmpleado" style="display: block;" class="modalLabel">Apellido</label>
                                <input type="text" id="apellidoEmpleado" th:value="${user.lastName}">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <label for="contrasena1Empleado" style="display: block;" class="modalLabel">Contraseña</label>
                                <input type="password" id="contrasena1Empleado" onchange="validatePassword()" required>
                            </div>
                            <div class="col">
                                <label for="contrasena2Empleado" style="display: block;" class="modalLabel">Repite la contraseña</label>
                                <input type="password" id="contrasena2Empleado" onkeyup="validatePassword()" required>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <label for="direccion" style="display: block;" class="modalLabel">Direccion</label>
                                <input type="input" id="direccion" th:value="${user.direccion}" required>
                            </div>
                            <div class="col">
                                <label for="telefono" style="display: block;" class="modalLabel">Telefono</label>
                                <input type="tel" id="telefono" th:value="${user.telefono}" required>
                            </div>
                        </div>
                            
                        <input type="hidden" id="idUsuario" th:value="${user.id}">
                        <input type="hidden" id="rol" th:value="${user.roles}">

                    </div>
                    <div class="modal-footer">
                        <!-- Los botones deben estar dentro del form para que el mensaje por el required de html funcione (ya no necesario, gestionado via js) -->
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="button" id ="guardarPerfilButton" class="btn btn-primary">Actualizar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>



    <th:block th:replace="fragments/footer.html :: footer" />
    <script th:src="@{/js/user.js}" src="js/user.js"></script>
</body>

</html>