<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <title>Restaurant.es: Plato</title>
    <link rel="stylesheet" href="css/verPlato.css" />
</head>




<body>
    <header th:replace="fragments/nav.html :: nav"></header>
   
    <main class="flex-shrink-0 fondo"  >
        <div class="degradado">
            <h1 class="mt-5" id="nombrePlato" th:text="${plato.nombre}">Nombre del plato</h1>
            <div class="caja" >
                <span>
                    <img th:src="@{/img/platos/{id}.jpg(id=${plato.id})}" src="img/comidaDefault.jpg" id="imgPlato"  class="comida" >
                    <th:block th:if="${session.u}">
                    <th:block th:if="${session.u.hasRole('ADMIN')}">
                          
                            <button type="button" id="editarImgButton" data-bs-toggle="modal" data-bs-target="#modalUpdateImg"><!-- class="btn btn-primary" -->
                                ✏️
                              </button>
                          
                        </th:block>
                    </th:block>

                </span>
                   
                    <th:block th:if="${session.u}">
                        <th:block th:if="${session.u.hasRole('ADMIN')}">
                          <div class="d-flex justify-content-end">
                            <button type="button" id="editarButton"  data-bs-toggle="modal" data-bs-target="#modalUpdatePlato"><!-- class="btn btn-primary" -->
                                ✏️
                              </button>
                          </div>
                        </th:block>
                      </th:block>
                    <p class ="desc-plato" id="descPlato" th:text="${plato.descripcion}">Descripción de la comida</p>
                    
                      
                    <h2 th:text="${plato.precio}+' €'" id="precioPlato">precio€</h2>
                
               
            </div> 
        <div class="reset"></div>

        <div>
          <div class="row">
            <h2 class="col-md-9">Comentarios</h2>
            <div class="col-md-2">
              <button th:if="${session.u}" class="btn mi-btn-primary" type="button" id="comentarButton" data-bs-toggle="modal" data-bs-target="#modalComentario">Añadir comentario</button>
            </div>
            
          </div>
            <ul id="listcomentario">
              <th:block th:each="val,iter: ${valoraciones}">

                <li th:if="${val.activo == true}">
                  <div class="comentario">
                    <th:block th:if="${session.u}">
                      <button th:if="${session.u.hasRole('ADMIN')}" type="button" class="botonBorrPlat" th:value="${val.id}"><!--  data-bs-toggle="modal" data-bs-target="#modalDeletePlato" -->
                        ❌
                        </button>

                    </th:block>
                    
                    <h3 class="nombreUs" th:text="${val.getCliente().getUsername()} + ' dice:'"></h3>
                    <div class="ContenedorEstrellas">
                      <p class="star" th:each="i : ${#numbers.sequence(1, val.rate, 1)}">⭐</p> 
                    </div>
                      <p th:text="${val.descripcion}"></p>
                  </div>
                </li>


              </th:block>
              
            </ul>
        </div>


        <!-- Modal -->
  <div class="modal fade" id="modalUpdatePlato" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Editar datos</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form role="form" id="myForm"> 
            <label for="campoNombrePlato" class="form-label">Nombre del plato</label>
            <input type="text" class="form-control" name="nombrePlato" id="campoNombrePlato" th:value="${plato.nombre}" required> 

            <label for="campoPrecioPlato" class="form-label">Precio del plato</label>
            <input type="number" step="0.01" class="form-control" name="precioPlato" id="campoPrecioPlato" th:value="${plato.precio}" required> 

            <label for="campoCategoriaPlato" class="form-label">Categoria del plato</label>
            <select class="form-select" name="categoriaPlato" id="campoCategoriaPlato">
                <th:block th:each="cat,iter: ${categorias}">
                   <option th:if="${cat.nombre} == ${plato.categoria.nombre}" selected  th:value="${cat.nombre}" th:text="${cat.nombre}">opcion</option>
                   <option th:unless="${cat.nombre} == ${plato.categoria.nombre}" th:value="${cat.nombre}" th:text="${cat.nombre}">opcion</option>
                </th:block>
              </select>

            <label for="campoDescripcionPlato" class="form-label">Descripcion del plato</label>
            <textarea class="form-control" id="campoDescripcionPlato" name="descripcionPlato" th:text="${plato.descripcion}" rows="4" cols="60" required></textarea>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
              <button type="button" id ="botonForm" th:value="${plato.id}"class="btn btn-primary">Confirmar</button>
            </div>
          </form>
        </div>
        
      </div>
    </div>
  </div>


     <!-- Modal 2 -->
     <div class="modal fade" id="modalUpdateImg" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Añadir comentario</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form role="form" id="formImg"> 
                
                <label for="fImg" class="form-label">Imagen del plato</label>
                <img id="imgNuePlato" alt="Imagen nuevo Plato" class="img-thumbnail mw-100 miClase">
                <input type="file" id="fImg" accept="image/jpeg,image/png" th:value="@{/img/platos/{id}.jpg(id=${plato.id})}" required>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                  <button type="button" id ="botonFormImg" th:value="${plato.id}" class="btn btn-primary">Confirmar</button>
                </div>
              </form>
            </div>
            
          </div>
        </div>
      </div>

     <!--  Modal comentario -->
      <div class="modal fade" id="modalComentario" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Editar Imagen</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form role="form" id="formCom"> 
                <label for="campoCategoriaPlato" class="form-label">Puntuacion</label>
                <select class="form-select" name="rateCom" id="campoRateCom">
                    
                  <option selected  value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                </select>

                <label for="campoDescCom" class="form-label">Descripcion</label>
                <textarea class="form-control" id="campoDescCom" name="descCom" rows="4" cols="60" required></textarea>


                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                  <button type="button" id ="botonComentar" th:value="${plato.id}" class="btn btn-primary">Confirmar</button>
                </div>
              </form>
            </div>
            
          </div>
        </div>
      </div>
    </main>

    <th:block th:replace="fragments/footer.html :: footer" />

<script th:src="@{/js/verPlato.js}" src="js/carta.js"></script>
</body>

</html>