<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <title>Restaurant.es: Reservas</title>
    <link rel="stylesheet" href="css/verReservas.css" />
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="fragments/nav.html :: nav"></header>

    <main class="flex-shrink-0">
        <div class="container">
            <h1 class="mt-5"></h1>
        </div>
    </main>

    <div class="container">
        <div class="row" id="cabecera">
            <div class="col-md-6">
                <h3>Lista de reservas</h2>
            </div>
        </div>
        <div class="row contenido">
            <div id="mostrarReservas">
                <!-- Cabeceras -->
                <div class="row">
                    <div class="col-md-6">
                        <h2>Personas</h2>
                    </div>
                    <div class="col">
                        <h2>Fecha</h2>               
                    </div>
                    <div class="col">
                        <div style="text-align: right; margin-bottom: 10%;">
                            <h2>Cancelar</h2>
                        </div>
                    </div>
                </div>
                <!-- Contenido -->
                <div class="row" th:each="r:${listaReservas}">
                    <div class="col-md-6">
                        <p th:text="${r.personas}">Sustituir numPersonas</p>
                        <!-- <p>Sustituir numPersonas</p> -->
                    </div>
                    <div class="col">
                        <p th:text="${r.formatedDate()}">Sustituir id</p> 

                        <!-- <p>Sustituir id</p>  -->                  
                    </div>
                    <div class="col">
                        <div style="text-align: right; margin-bottom: 10%;">
                            <button type="button" class="btn btn-outline-danger btn-sm cancel">❌</button>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>

    <th:block th:replace="fragments/footer.html :: footer" />
</body>

</html>